.Layout {
  background-color: #d5ded9;
  height: 100%;
  padding: 20% 0;
  text-align: center;
  .app-logo {
    font-size: 1.7rem;
  }
  .app-title {
  }

  &__preview {
    .preview__title {
      display: inline-block;
      padding: 0 5px;
      font-size: 1.5rem;
      letter-spacing: -1.5px;
      text-transform: uppercase;
      background-color: #000000;
    }
    .swiper-container {
      height: 250px;
    }
  }
}
